<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>2014</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10 text-center'>
    <img src='/images/2014-nmba-d1-champs.jpg'>
    <h3>Bantam A Girls</h3>
    <h4>BNB Bantam Girls Division 1 Provincial Champions</h4>
    <p>
      A great season wrapped up in a nail-biting win.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>2013</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10 text-center'>
    <img src='/images/2014-nmba-d1-champs.jpg'>
    <h3>Midget A Boys</h3>
    <h4>BNB Midget Boys Tier 1 Provincial Champions</h4>
    <p>
      A great season wrapped up in a nail-biting win.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>2012</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10 text-center'>
    <img src='/images/2012-bantam-girls-d3-champs.jpg'>
    <h3>Bantam B Girls</h3>
    <h4>BNB Bantam Girls "AAA" Tier 3 Tournament Champions</h4>
    <p>
      A great season wrapped up in a nail-biting win.
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>2011</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-10 text-center'>
    <img src='/images/2011-bantam-girls-d3-champs.jpg'>
    <h3>Bantam B Girls</h3>
    <h4>BNB Bantam Girls "AAA" Tier 3 Tournament Champions</h4>
    <p>
      A great season wrapped up in a nail-biting win.
    </p>
  </div>
</div>
