<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>Bantam A Girls</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-a-girls/ryan-chase-coach-circle-small.png'>
    <h3>Ryan Chase</h3>
    <h4>Head Coach</h4>
    <p>
      great coach
    </p>
  </div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-a-girls/brad-janes-board-circle-small.png'>
    <h3>Brad Janes</h3>
    <h4>Assistant Coach</h4>
    <p>
      great assistant coach
    </p>
  </div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-a-girls/janet-wilson-manager-circle-small.png'>
    <h3>Janet Wilson</h3>
    <h4>Manager</h4>
    <p>
      great manager
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>Bantam B Girls</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-b-girls/luc-bergeron-coach-circle-small.png'>
    <h3>Luc Bergeron</h3>
    <h4>Head Coach</h4>
    <p>
      super coach
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>Bantam A Boys</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-a-boys/scott-williams-coach-circle-small.png'>
    <h3>Scott Williams</h3>
    <h4>Head Coach</h4>
    <p>
      coach of the year
    </p>
  </div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/bantam-a-boys/john-hickey-coach-circle-small.png'>
    <h3>John Hickey</h3>
    <h4>Assistant Coach</h4>
    <p>
      assistant coach of the year
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>Mini B Girls</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/mini-b-girls/mali-coulombe-coach-circle-small.png'>
    <h3>Mali Coulombe</h3>
    <h4>Head Coach</h4>
    <p>
      great teacher
    </p>
  </div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/mini-b-girls/erin-keoughan-coach-circle-small.png'>
    <h3>Erin Keoughan</h3>
    <h4>Assistant Coach</h4>
    <p>
      great teacher
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <h2>Mini B Boys</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/mini-b-boys/josh-whalen-coach-circle-small.png'>
    <h3>Josh Whalen</h3>
    <h4>Head Coach</h4>
    <p>
      new coach
    </p>
  </div>
  <div class='col-md-2 text-center'>
    <img src='images/teams/mini-b-boys/nathan-scott-coach-circle-small.png'>
    <h3>Nathan Scott</h3>
    <h4>Assistant Coach</h4>
    <p>
      another new coach
    </p>
  </div>
</div>
