<br>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='month-section'>
      <div class='accordion' id='leftMenu'>
        <div class='accordion-group'>
          <div class='accordion-heading'>
            <a class="accordion-toggle team-link" data-toggle="collapse" data-parent="#leftMenu" href="#bantam-a-boys-month"><span class='fa fa-chevron-down'>&nbsp;</span>
            Bantam A Boys
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='accordion-body collapse' id='bantam-a-boys-month' style='height: 0px;'>
  <div class='accordion-inner'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2 id='bantam-a-boys'>Bantam A Boys</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Coaches</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/scott-williams-coach-circle-small.png'>
        <h3>Scott Williams</h3>
        <h4>Head Coach</h4>
      </div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/john-hickey-coach-circle-small.png'>
        <h3>John Hickey</h3>
        <h4>Assistant Coach</h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Players</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/thomas-hoyt-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Thomas Hoyt</h3>
        <h4>3</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/scott-perry-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Scott Perry</h3>
        <h4>4</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/garrett-windle-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Garrett Windle</h3>
        <h4>5</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/spencer-harpelle-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Spencer Harpelle</h3>
        <h4>6</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/micah-williams-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Micah Williams</h3>
        <h4>7</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/matt-lafleur-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Matt Lafleur</h3>
        <h4>8</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/mathieu-paradis-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Mathieu Paradis</h3>
        <h4>9</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/isaiah-phillips-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Isaiah Phillips</h3>
        <h4>10</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-boys/declan-mckillop-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Declan McKillop</h3>
        <h4>11</h4>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='month-section'>
      <div class='accordion' id='leftMenu'>
        <div class='accordion-group'>
          <div class='accordion-heading'>
            <a class="accordion-toggle team-link" data-toggle="collapse" data-parent="#leftMenu" href="#bantam-a-girls-month"><span class='fa fa-chevron-down'>&nbsp;</span>
            Bantam A Girls
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='accordion-body collapse' id='bantam-a-girls-month' style='height: 0px;'>
  <div class='accordion-inner'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2 id='bantam-a-girls'>Bantam A Girls</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Coaches</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/ryan-chase-coach-circle-small.png'>
        <h3>Ryan Chase</h3>
        <h4>Head Coach</h4>
      </div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/brad-janes-board-circle-small.png'>
        <h3>Brad Janes</h3>
        <h4>Assistant Coach</h4>
      </div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/janet-wilson-manager-circle-small.png'>
        <h3>Janet Wilson</h3>
        <h4>Manager</h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Players</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/lauren-casey-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Lauren Casey</h3>
        <h4>4</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/chantelle-austin-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Chantelle Austin</h3>
        <h4>5</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/lucy-beaumont-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Lucy Beaumont</h3>
        <h4>6</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/jaiden-penney-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Jaiden Penney</h3>
        <h4>7</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/abby-cartwright-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Abby Cartwright</h3>
        <h4>8</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/kali-wilson-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Kali Wilson</h3>
        <h4>9</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/katie-morehouse-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Katie Morehouse</h3>
        <h4>10</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/maegan-burtt-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Maegan Burtt</h3>
        <h4>11</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/12-number-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Erin Cunningham</h3>
        <h4>12</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/erin-oshaugnessy-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Erin O'Shaugnessy</h3>
        <h4>13</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-a-girls/torrie-janes-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Torrie Janes</h3>
        <h4>21</h4>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='month-section'>
      <div class='accordion' id='leftMenu'>
        <div class='accordion-group'>
          <div class='accordion-heading'>
            <a class="accordion-toggle team-link" data-toggle="collapse" data-parent="#leftMenu" href="#bantam-b-girls-month"><span class='fa fa-chevron-down'>&nbsp;</span>
            Bantam B Girls
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='accordion-body collapse' id='bantam-b-girls-month' style='height: 0px;'>
  <div class='accordion-inner'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2 id='bantam-b-girls'>Bantam B Girls</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Coaches</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/luc-bergeron-coach-circle-small.png'>
        <h3>Luc Bergeron</h3>
        <h4>Head Coach</h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Players</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/mikayla-hand-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Mikayla Hand</h3>
        <h4>3</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/megan-kincaid-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Megan Kincaid</h3>
        <h4>4</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/kate-windle-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Kate Windle</h3>
        <h4>5</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/regan-varenholt-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Regan Varenholt</h3>
        <h4>6</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/emma-dewar-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Emma Dewar</h3>
        <h4>7</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/veronika-shakotko-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Veronika Shakotko</h3>
        <h4>8</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/emma-rickard-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Emma Rickard</h3>
        <h4>9</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/karley-duguay-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Karley Duguay</h3>
        <h4>10</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/bantam-b-girls/malayla-deleavey-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Malayla Deleavey</h3>
        <h4>11</h4>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='month-section'>
      <div class='accordion' id='leftMenu'>
        <div class='accordion-group'>
          <div class='accordion-heading'>
            <a class="accordion-toggle team-link" data-toggle="collapse" data-parent="#leftMenu" href="#mini-b-boys-month"><span class='fa fa-chevron-down'>&nbsp;</span>
            Mini B Boys
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='accordion-body collapse' id='mini-b-boys-month' style='height: 0px;'>
  <div class='accordion-inner'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2 id='mini-b-boys'>Mini B Boys</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Coaches</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/josh-whalen-coach-circle-small.png'>
        <h3>Josh Whalen</h3>
        <h4>Head Coach</h4>
      </div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/nathan-scott-coach-circle-small.png'>
        <h3>Nathan Scott</h3>
        <h4>Head Coach</h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Players</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/aiden-dorey-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Aiden Dorey</h3>
        <h4>3</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/wes-odonnell-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Wes O'Donnell</h3>
        <h4>4</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/jaron-killam-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Jaron Killam</h3>
        <h4>5</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/zach-whalen-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Zach Whalen</h3>
        <h4>6</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/michael-surur-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Michael Surur</h3>
        <h4>7</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/daniel-agnew-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Daniel Agnew</h3>
        <h4>8</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/david-mussa-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>David Mussa</h3>
        <h4>9</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/brennon-legacy-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Brennon Legacy</h3>
        <h4>10</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/brennan-dunphy-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Brennan Dunphy</h3>
        <h4>11</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/nicholas-mehta-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Nicholas Mehta</h3>
        <h4>12</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-boys/devin-arsenault-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Devin Arsenault</h3>
        <h4>13</h4>
      </div>
    </div>
    <br>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <div class='month-section'>
      <div class='accordion' id='leftMenu'>
        <div class='accordion-group'>
          <div class='accordion-heading'>
            <a class="accordion-toggle team-link" data-toggle="collapse" data-parent="#leftMenu" href="#mini-b-girls-month"><span class='fa fa-chevron-down'>&nbsp;</span>
            Mini B Girls
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='accordion-body collapse' id='mini-b-girls-month' style='height: 0px;'>
  <div class='accordion-inner'>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2 id='mini-b-girls'>Mini B Girls</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Coaches</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/mali-coulombe-coach-circle-small.png'>
        <h3>Mali Coulombe</h3>
        <h4>Head Coach</h4>
      </div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/erin-keoughan-coach-circle-small.png'>
        <h3>Erin Keoughan</h3>
        <h4>Assistant Coach</h4>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h2>Players</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/sydney-campbell-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Sydney Campbell</h3>
        <h4>3</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/mackenzie-chase-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Mackenzie Chase</h3>
        <h4>4</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/reegan-kerr-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Reegan Kerr</h3>
        <h4>5</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/laura-stafford-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Laura Stafford</h3>
        <h4>6</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/nicole-stafford-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Nicole Stafford</h3>
        <h4>7</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/jerica-scribner-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Jerica Scribner</h3>
        <h4>8</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/madalynn-keane-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Madalynn Keane</h3>
        <h4>9</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/kathyrn-oulton-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Kathyrn Oulton</h3>
        <h4>10</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/katy-foord-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Katy Foord</h3>
        <h4>11</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/jayde-nolais-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Jayde Nolais</h3>
        <h4>12</h4>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-2 text-center'>
        <img src='/images/teams/mini-b-girls/alyssa-sprague-player-circle-small.png'>
      </div>
      <div class='col-md-6 text-left'>
        <h3>Alyssa Sprague</h3>
        <h4>13</h4>
      </div>
    </div>
    <br>
  </div>
</div>
