<div class='navbar navbar-default navbar-fixed-top'>
  <div class='ribbon'>
    <a href="/registration">Registration Now Open</a>
  </div>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href='/'></a>
      <button class='navbar-toggle' data-target='#navbar-main' data-toggle='collapse' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='navbar-collapse collapse' id='navbar-main'>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <a href='/'>
            Home
          </a>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            Programs
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href="/developmental">Developmental</a>
            </li>
            <li>
              <a href="/competitive">Competitive</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/registration">Registration</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/news">News</a>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            Upcoming
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href="/upcoming-events">All Events</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/upcoming-games">Games</a>
            </li>
            <li>
              <a href="/upcoming-tournaments">Tournaments</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/upcoming-practices">Practices</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/upcoming-camps">Camps</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/upcoming-communities">Community Events</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/upcoming-meetings">Meetings</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            Teams
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href="/coaches">Coaches</a>
            </li>
            <li>
              <a href="/team-rosters">Rosters</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/team-alumni">Alumni</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/team-champs">Championships</a>
            </li>
          </ul>
        </li>
        <li class='dropdown'>
          <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
            Resources
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu'>
            <li>
              <a href="#"><b>Board</b></a>
            </li>
            <li>
              <a href="/board-minutes">&nbsp;&nbsp;Minutes</a>
            </li>
            <li>
              <a href="/board-members">&nbsp;&nbsp;Members</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/resource-sponsors">Sponsors</a>
            </li>
            <li class='divider'></li>
            <li>
              <a href="/resource-links">Links</a>
            </li>
          </ul>
        </li>
        <li>
          <a href='../contact-us'>
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
